.btn-crear {
  background-color: green;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-crear:hover {
  background-color: rgb(40, 192, 40);
}

.blog__contenedor {
  width: 60%;
  margin: 4rem auto;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5rem 20rem rgba(211, 211, 211, 0.2);
}

.titulo-secundario {
  text-align: center;
}

/* Form */

.form__label {
  display: block;
  margin-bottom: .8rem;
  font-size: 1.2rem;
}

.form__input, .form__textarea {
  display: block;
  width: 100%;
  padding: .3rem;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  border: 1.5px solid #ccc;
  border-radius: 5px;
}

.form__input:focus-visible, .form__textarea:focus-visible {
  outline: none;
  border: 1.5px solid green;
}